body {
    font-family: arial;
    height: 100%;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin-top: .2em;
}

footer {
    margin-top: 4em;
}

.alert-info a,
.nav-links a {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 100%;
}


.alert-info a {
    text-decoration: none;
    background: #DEFEFE;
    color: black;
    border: 2px solid #CCCCCC;
    font-size: .9em;
}

.alert-info a:active {
    background: lightgrey;
    color: white;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links a {
    font-family: Helvetica;
    background: lightgrey;
    margin-bottom: 1em;
}

img {
    width: 100%;
}

.sub-section {
    font-style: italic;
    margin-top: 2em;
}

.sub-section h2 {
    font-size: 1.3em;
}


@media screen and (min-width: 700px) {

    h1{
        float: left;
    }

    section {
        float: left;
        margin-right: 3em;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .main {
        width: calc(60% - 3em);
    }

    .sub-section {
        width: calc(40% - 3em);
        margin-top: .3em;
    }

    .hidden-on-desktop {
        display: none;
    }

    .nav-links {
        float: right;
        position: relative;
        top: .5em;
    }

    .nav-links li {
        float:left;
        margin-right: 1.5em;
    }
    .nav-links a {
        display: unset;
        background: unset;
    }

    .nav-links a:active {
        background: none;
    }

}
