body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
:root{
    --bg-info: rgb(208,222,252);
    --text-info: rgb(77,78,159);
    --bg-success: rgb(214,242,220);
    --text-success: rgb(75,125,83);
    --bg-warning: rgb(252,250,206);
    --text-warning: rgb(151,136,39);
    --bg-error: rgb(244,212,215);
    --text-error: rgb(146,71,85);
}
.message-info{
    background-color: var(--bg-info);
    color: var(--text-info);
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.message-success{
    background-color: var(--bg-success);
    color: var(--text-success);
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    border: 1px solid lightgray
}
.message-warning{
    background-color: var(--bg-warning);
    color: var(--text-warning);
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    border: 1px solid lightgray
}
.message-error{
    background-color: var(--bg-error);
    color: var(--text-error);
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    border: 1px solid lightgray
}